#app {
  display: flex;
  flex-direction: column;
}

/* Logo styling */

.full-logo {
  align-self: center;
}

/* Top Bar Container styling */
#top-bar-container {
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  height: 5%;
  border-bottom: 2px;
  border-color: blue;
}

/* Graph Container styling */
#graph-container {
  flex-direction: row;
}

/* Spreadsheet container styling */
#spreadsheet-container {
  flex-direction: column;
}
